<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige tous les requêtes vers le dossier public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]

    # Si le fichier/dossier n'existe pas, redirige vers public/index.php
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Prévenir l'accès direct aux fichiers sensibles
<FilesMatch "^(config|\.env|\.git)">
    Order allow,deny
    Deny from all
</FilesMatch>
